body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Asegura que el body también ocupe la altura */
}

#root {
  min-height: 100vh; /* Asegura que el root también ocupe la altura */
}